---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header/>
	<main class="sm:px-40 px-8">
		<div>Angela Olovson</div>
		<div>Software Engineer・Fashion Merchandiser・Wedding Florist</div>
		<div>maybe a selfie</div>
		<div class="mb-24">about me?
			<p>
			Welcome to my journey. As you noticed, I have background coming from other industries.
			</p>
			<br />
			<p>
			After several years of working experiences, I would say I love what I was doing but also excited of what I am going to do. Fashion and floristry industries brought me 
			
			I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
			details of typography, or the vibrant hues of nature during my outdoor escapades.
			</p>
			<br />
			<p>If you're curious to dive deeper into my work, you can follow me:</p>
		</div>
		<div>resume - work</div>
		<div>resume - education</div>
		<div>skills</div>
		<div>Projects</div>
		<div>maybe some blogs</div>
	</main>	
</Layout>
