---
import About from '../components/About.astro';
import Break from '../components/common/Break.astro';
import Layout from '../layouts/Layout.astro';
import Name from '../components/Name.astro';
import Work from '../components/Work.astro';
import jobs from '../data/jobs';
import Education from '~/components/Education.astro';
import schools from '~/data/schools';
import NevMenu from '../components/NevMenu'
---

<Layout>
	<NevMenu />
	<main class="flex flex-col sm:px-40 px-8">
		<Name />
		<Break />
		<About />
		<Break />
		<section id="resume">
			<p class="titleCard">Work Experience</p>
			<Work jobs={jobs} />
		</section>
		<section>
			<p class="titleCard">Education</p>
			<Education schools={schools} />
		</section>
		<Break />
		<section>
			<p class="titleCard">Skills</p>
		</section>
		<Break />
		<section>
			<p class="titleCard">Projects</p>
		</section>
	</main>	
</Layout>
