---
import About from '../components/About.astro';
import Break from '../components/common/Break.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Name from '../components/Name.astro';
import Work from '../components/Work.astro';
import jobs from '../data/jobs';
import Education from '~/components/Education.astro';
import schools from '~/data/schools';
---

<Layout>
	<Header/>
	<main class="flex flex-col sm:px-40 px-8">
		<Name />
		<Break />
		<About />
		<Break />
		<section id="resume">
			<p class="titleCard">Work Experience</p>
			<Work jobs={jobs} />
		</section>
		<section>
			<p class="titleCard">Education</p>
			<Education schools={schools} />
		</section>
		<section></section>
		<section></section>
		
		<p class="titleCard">Skills</p>
		<p class="titleCard">Projects</p>
	</main>	
</Layout>
