---
---
<div class="flex">
    <div class="flex flex-col w-1/2">
        <p>
            Welcome to my journey. As you noticed, I have background coming from other industries.
        </p>
        <br />
        <p>
            After several years of working experiences, I would say I love what I was doing but also excited of what I am going to do. Fashion and floristry industries brought me 
            
            I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
            details of typography, or the vibrant hues of nature during my outdoor escapades.
        </p>
        <br />
        <p>
            If you're curious to dive deeper into my work, you can follow me:
        </p>
    </div>
    <div class="flex w-1/2">
        <img src="/images/aoSelfie.png" alt="ao" />
    </div>
</div>
