---
import type { School } from '~/types/school';

type Props = {
    schools: School[];
}
const props = Astro.props as Props;
const {schools} = props;
---

<div>
    {schools.map((school) => (
        <div class="flex md:gap-3 mb-10">
            <div class="flex flex-col items-center mr-3">
                <div class="w-9 h-9">
                    <img src="/images/graduate-cap-svgrepo-com.svg" alt="Graduate Cap Icon" class="w-full h-full p-1 rounded-full border-2 aspect-square object-contain" />
                </div>
                <div class="w-px h-full bg-black/10"></div>
            </div>
            <div class="">
                <div class="font-semibold sm:text-2xl text-xl mb-1">{school.program}</div>
                <div class="sm:text-2xl text-xl mb-2">{school.schoolName}</div>
                <div class="mb-2">{school.date}</div>
            </div>
            
        </div>
    ))}
</div>
