---
---
<div class="flex flex-col text-center sm:mt-20">
    <p class="sm:font-extrabold font-semibold sm:text-7xl text-4xl tracking-wider">Angela Olovson</p>
    <div class="flex flex-wrap justify-center text-center sm:font-light sm:text-2xl text-sm sm:tracking-widest sm:mt-6">
        <span>Software Engineer</span>
        <span>・</span>
        <span>Fashion Merchandiser</span>
        <span>・</span>
        <span>Wedding Florist</span>
    </div>
</div>
