---
---
<div class="flex flex-col text-center sm:mt-20 transition-opacity duration-1000 opacity-0 animate-[fadeIn_1s_ease-in-out_forwards]">
    <p class="sm:font-extrabold font-semibold sm:text-7xl text-4xl tracking-wider">Angela Olovson</p>
    <p class="mt-4 text-lg md:text-xl text-gray-700 italic font-extralight sm:text-2xl sm:tracking-widest">
        Software Engineer blending logic, design, and experience.
    </p>
</div>

<style>
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
</style>
