---
---
<div class="flex flex-col text-center sm:mt-20">
    <p class="sm:font-extrabold sm:text-7xl tracking-wider">Angela Olovson</p>
    <p class="sm:font-light sm:text-2xl tracking-widest sm:mt-6">Software Engineer・Fashion Merchandiser・Wedding Florist</p>
</div>
